*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time, .sound, .player {
    height:80%;
    flex:1;
}

.time {
    background: lightblue;
}

.sound{
    background: lightgreen;
}

.player{
    background: lightcoral;
}